<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Aзитромицин</title>
    </head>
    <body>
        <main>
            <header>
                <h1>
                    Aзитромицин (Azithromycin) - показания к преминению
                </h1>
                <figure>
                    <img alt="Aзитромицин"
                         src="azitromicin.gif"
                         width="400">
                    <figcaption>
                        Структурная формула антибиотика,
                        C<sub>38</sub>H<sub>72</sub>N<sub>2</sub>O<sub>12</sub>
                    </figcaption>
                </figure>
            </header>
            <article>

                <section>
                    <h2>
                        Основные показания (по МКБ-10)
                    </h2>

                    <ul>
                        <li>
                            H66 Гнойный и неуточненный средний отит
                        </li>
                        <li>
                            J01 Острый синусит
                        </li>
                        <li>
                            J02.0 Стрептококковый фарингит
                        </li>
                        <li>
                            J03.0 Стрептококковый тонзиллит
                        </li>
                        <li>
                            J04.0 Острый ларингит
                        </li>
                        <li>
                            J18 Пневмония без уточнения возбудителя
                        </li>
                        <li>
                            J20 Острый бронхит
                        </li>
                        <li>
                            <s>J32 Хронический синусит</s> (с 2012 года не рекомендуется)
                        </li>
                        <li>
                            K25 Язва желудка
                        </li>
                        <li>
                            K26 Язва двенадцатиперстной кишки
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>
                        Фармокология
                    </h2>
                    <p>
                        <i>
                            <u>Фармакологическое действие</u> - антибактериальное широкого спектра.
                        </i>
                    </p>
                    <p>
                        Связывается с 50S субъединицей рибосом, угнетает пептидтранслоказу на стадии трансляции и
                        подавляет биосинтез белка, замедляя рост и размножение бактерий, при высоких концентрациях
                        возможен бактерицидный эффект.
                    </p>
                </section>

                <section>
                    <h2>
                        Применение вещества Азитромицин
                    </h2>

                    <p>
                        <b>
                            <u>
                                Для приема внутрь
                            </u>
                        </b>
                        : инфекции верхних (стрептококковый фарингит/тонзиллит) и нижних (бактериальный бронхит,
                        интерстициальная и альвеолярная пневмония, обострение хронического бронхита) отделов дыхательных
                        путей, лор-органов (средний отит, ларингит и синусит), мочеполовой системы (уретрит и цервицит),
                        кожи и мягких тканей (рожа, импетиго, вторичные инфицированные дерматозы), хроническая стадия
                        мигрирующей эритемы (болезнь Лайма), заболевания желудка и двенадцатиперстной кишки,
                        ассоциированные с
                        <i>Helicobacter pylori.</i>
                    </p>
                    <p>
                        <b>
                            <u>
                                Для инфузий
                            </u>
                        </b>
                        : тяжелые инфекции, вызванные чувствительными штаммами микроорганизмов: внебольничная пневмония,
                        инфекционно-воспалительные заболевания органов малого таза.
                    </p>
                </section>

            </article>
        </main>
    </body>
</html>
