<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Новостное агенство</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-bar">
                <div class="fixed-container clearfix">
                    <div class="title">
                        Самые <a href="#">свежие новости</a> в реально времени
                    </div>
                    <div class="datetime">12:30 19.06.2019</div>
                </div>
            </div>
        </header>
        <div class="infrotmation-bar fixed-container clearfix">
            <div class="left">
                <div class="logo infrotmation-bar-item"></div>
                <div class="city-selector infrotmation-bar-item">
                    <a href="#">
                        <span class="city">Москва</span>
                        <span class="down-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="weather-container infrotmation-bar-item">
                    <span class="weather-icon"></span>
                    <span class="weather">+22 &#8451;</span>
                </div>
                <div class="search-container infrotmation-bar-item">
                    <form class="search-form" target="_self" action="#">
                        <input class="search-input" type="text" placeholder="Поиск по сайту">
                        <button class="search-button"></button>
                    </form>
                </div>

            </div>
        </div>


        <main>

        </main>
    </body>
</html>
