<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Табличная верстка</title>

        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <main>
            <h1>Статистика компаний за неделю</h1>
            <table class="statistics">
                <thead class="statistics">
                    <tr>
                        <th class="end-head" rowspan="2">Дата</th>
                        <th class="statistics" colspan="2">Доход</th>
                        <th class="statistics" colspan="2">Расход</th>
                    </tr>
                    <tr>

                        <th class="end-head" >План</th>
                        <th class="end-head" >Факт</th>

                        <th class="end-head" >План</th>
                        <th class="end-head" >Факт</th>

                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td class="statistics" >01.02.2017</td>

                        <td class="statistics" >175 290</td>
                        <td class="statistics" >114 756</td>

                        <td class="statistics" >119 289</td>
                        <td class="statistics" >201 754</td>

                    </tr>
                    <tr>
                        <td class="statistics" >02.02.2017</td>

                        <td class="statistics" >202 454</td>
                        <td class="statistics" >687 455</td>

                        <td class="statistics" >325 781</td>
                        <td class="statistics" >985 754</td>
                    </tr>
                    <tr>
                        <td class="statistics" >03.02.2017</td>

                        <td class="statistics" >478 445</td>
                        <td class="statistics" >741 451</td>

                        <td class="statistics" >784 741</td>
                        <td class="statistics" >129 754</td>
                    </tr>
                    <tr>
                        <td class="statistics" >04.02.2017</td>

                        <td class="statistics" >741 957</td>
                        <td class="statistics" >207 425</td>

                        <td class="statistics" >328 415</td>
                        <td class="statistics" >987 741</td>
                    </tr>
                    <tr>
                        <td class="statistics" >05.02.2017</td>

                        <td class="statistics" >219 352</td>
                        <td class="statistics" >812 987</td>

                        <td class="statistics" >987 200</td>
                        <td class="statistics" >741 998</td>
                    </tr>
                    <tr>
                        <td class="statistics" >06.02.2017</td>

                        <td class="statistics" >175 290</td>
                        <td class="statistics" >955 756</td>

                        <td class="statistics" >511 289</td>
                        <td class="statistics" >201 754</td>
                    </tr>
                    <tr>
                        <td class="statistics" >07.02.2017</td>

                        <td class="statistics" >548 360</td>
                        <td class="statistics" >587 200</td>

                        <td class="statistics" >899 700</td>
                        <td class="statistics" >541 980</td>
                    </tr>
                </tbody>

                <tfoot class="statistics">
                    <tr>
                        <td class="statistics" >Итог</td>

                        <td class="statistics" ><b>2 543 148</b></td>
                        <td class="statistics" ><b>4 107 030</b></td>

                        <td class="statistics" ><b>3 956 415</b></td>
                        <td class="statistics" ><b>3 790 735</b></td>
                    </tr>
                </tfoot>
            </table>
        </main>
    </body>
</html>
