<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Задание 3. Верстка форм</title>
    </head>
    <body>

        <main>
            <h1>Отправка заявки на конференцию</h1>

            <form action="https://echo.htmlacademy.ru"
                  enctype="multipart/form-data"
                  id="meetup"
                  method="post">

                <fieldset form="meetup">
                    <legend>Основные данные</legend>

                    <label for="name">* Фамилия, имя, отчество:</label>
                    <input id="name"
                           name="name"
                           required="required"
                           size="50"
                           type="text">


                    <label for="dob">Дата рождения:</label>
                    <input id="dob"
                           name="dob"
                           type="date">

                </fieldset>

                <fieldset>
                    <legend>Пол:</legend>
                    <label>
                        <input name="gender"
                               type="radio"
                               value="man"> Мужской
                    </label>
                    <label>

                        <input name="gender"
                               type="radio"
                               value="female"> Женский
                    </label>
                </fieldset>

                <fieldset form="meetup">
                    <legend>Данные для создания личного кабинета</legend>

                    <label for="email">* Адрес электронной почты:</label>
                    <input id="email"
                           name="email"
                           required="required"
                           size="50"
                           type="email">

                    <label for="password">* Пароль:</label>
                    <input id="password"
                           minlength="8"
                           name="password"
                           required="required"
                           size="50"
                           type="password">

                    <label for="password_confirm">* Подтверждние пароля:</label>
                    <input id="password_confirm"
                           minlength="8"
                           name="password_confirm"
                           required="required"
                           size="50"
                           type="password">


                </fieldset>

                <fieldset form="meetup">
                    <legend>Материалы конференции</legend>

                    <label for="theme">* Тема доклада:</label>
                    <input id="theme"
                           name="theme"
                           required="required"
                           size="50"
                           type="text">

                    <label for="thesis">* Тезисы доклада:</label>
                    <textarea cols="50"
                              id="thesis"
                              maxlength="1000"
                              name="thesis"
                              required="required"
                              rows="20"></textarea>

                    <label for="slide">Файл презентации:</label>
                    <input id="slide"
                           name="slides"
                           size="50"
                           type="file">

                </fieldset>

                <fieldset form="meetup">
                    <legend>Дополнительные опции</legend>

                    <input id="live"
                           name="live"
                           type="checkbox"
                           value="live">
                    <label for="live">Проживание в отеле</label>

                    <input id="breakfast"
                           name="breakfast"
                           type="checkbox"
                           value="breakfast">
                    <label for="breakfast">Завтрак</label>

                    <input id="lunch"
                           name="lunch"
                           type="checkbox"
                           value="lunch">
                    <label for="lunch">Обед</label>

                    <input id="dinner"
                           name="dinner"
                           type="checkbox"
                           value="dinner">
                    <label for="dinner">Ужин</label>

                </fieldset>

                <hr>
                <input type="submit">
                <hr>

                <p>
                    <small>* поля отмеченные звездочкой являются обязательными</small>
                </p>


            </form>


        </main>

    </body>
</html>
